In [1]:
print('Hello World')

Hello World

In [13]:
arr = [-5,200,300,-10,10,1000]
arr2 = [True,False,True,False]

print([x for x in arr if x > 100])

[200, 300, 1000]

In [6]:
# this is making an anonymous function

lambda x:x > 100

In [8]:
# Filter function applies the given function on the given list 
filter(lambda x:x > 100, arr)

In [9]:
# Convert the result into a list type
list(filter(lambda x:x > 100, arr))

[200, 300, 1000]

In [18]:
list(filter(lambda x:x*2, arr))

[-5, 200, 300, -10, 10, 1000]

In [15]:
list(map(lambda x:x**2, arr))
# Map can be used for data Transformation. It applies the function to every every element of the array. and creates
# a new array

[25, 40000, 90000, 100, 100, 1000000]

In [20]:
list(filter(lambda x:x**2, arr))

# The filter fucntion applies the lambda function to each element on the list and returns only for those it is True 
# or successful it just returns the original value  from the list and not  the calculated result

[-5, 200, 300, -10, 10, 1000]

## Data Aggregation

In [22]:
# Use reduce function

from functools import reduce 

def doSum(x1, x2):
    return x1 + x2

x = reduce(doSum,arr)
print(x)

# The Reduce function needs a aggregation function to be defined
# It will apply this elements iteratively

1495

### Range

In [24]:
range(6)

range(0, 6)

In [25]:
print(range(6))

range(0, 6)

In [26]:
oddNum = range(3,29,2)
print(oddNum)

range(3, 29, 2)

In [27]:
print([x for x in oddNum])

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]

In [28]:
bin_colors=('Red','Green','Blue')
bin_colors[1]

'Green'

In [31]:
bin_colors[2:]

('Blue',)

In [30]:
bin_colors[:-1]

('Red', 'Green')

In [33]:
a = (1,2,(100,200,300),6)
max(a[2])

300

In [34]:
a[2][1]

200

## List - Ordered mutable 

## Tuple - Ordered immutable

Immutable data structure are better for Big Data performance

## Dictionary  -- key value pairs -- helpful for distributed algorithms

In [35]:
bin_colors = {
    "manual": "Yellow",
    "approved" : "Green",
    "refuced" :"Red"
}
print(bin_colors)

{'manual': 'Yellow', 'approved': 'Green', 'refuced': 'Red'}

## Sets -- Immutable -- used for set operations like 'and' , 'or' , 'union', 'intersection'

In [36]:
## Data Frames 
## pandas df 
## axis - single column or row 
## Axes - more than one axis as a group 
## LAbel : Both columns and rows can be used to denote Label 
## Subset of Data Frame 
## Column Selection
    df[['name','age']]
    df.iloc[:,3] # Retreved based on the colum position 
## Row Selection
    df.iloc[1:3,:] #